/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
  }
  body {
    // font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    // Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-family: "Abril Fatface", serif;
    background-image: url("background.jpg");
    background-size: cover;
  }
  
  header {
    background-color: #6aa875;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  header li {
    list-style: none;
    margin-right: 40px;
   
  }

  .a-about {
    display: grid;
    display: flex;
    place-items: center;
   
  }

  .btn-new {
    background-color: #f6fff6; /* 緑色の背景 */
    color: rgb(15, 14, 14); /* 白色の文字 */
    border: none; /* 枠線なし */
    padding: 10px 20px; /* パディング */
    text-align: center; /* テキストの中央揃え */
    text-decoration: none; /* テキストの下線なし */
    display: inline-block; /* インラインブロック要素 */
    font-size: 16px; /* フォントサイズ */
    margin: 4px 2px; /* マージン */
    cursor: pointer; /* カーソルをポインタに変更 */
    border-radius: 12px; /* 角を丸くする */
  }
  
  .btn-new:hover {
    background-color: #45a049; /* ホバー時の背景色 */
  }
