.top-container{
  background-color: #fafffa; 
}

.text-overlay {
  position: absolute;  /* テキストを絶対位置に設定 */
  top: 50%;            /* テキストを垂直方向に中央揃え */
  left: 50%;           /* テキストを水平方向に中央揃え */
  transform: translate(-50%, -50%);  /* テキストの中央に配置 */
  color: white;         /* テキストの色を白に設定 */
  font-size: 24px;      /* テキストのフォントサイズを設定 */
  font-weight: bold;    /* テキストのフォントウェイトを設定（任意） */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);  /* テキストに影を追加 */
  padding: 10px;        /* テキストの周りにパディングを追加（任意） */
  /* 背景に半透明の黒を設定（任意） */
}


.tweets-container {
  width: 50%;
  margin: 10px auto;
  background-color: #fbfcfc;
}

.i-title{
  font-size: x-large;
}

.container{
  padding-top: 50px;
}
  .btn-new {
    background-color: #f6fff6; /* 緑色の背景 */
    color: rgb(15, 14, 14); /* 白色の文字 */
    border: none; /* 枠線なし */
    padding: 10px 20px; /* パディング */
    text-align: center; /* テキストの中央揃え */
    text-decoration: none; /* テキストの下線なし */
    display: inline-block; /* インラインブロック要素 */
    font-size: 16px; /* フォントサイズ */
    margin: 4px 2px; /* マージン */
    cursor: pointer; /* カーソルをポインタに変更 */
    border-radius: 12px; /* 角を丸くする */
    font-family: "Abril Fatface", serif;
    border: 1px solid #343434;
   }
  
  .btn-new:hover {
    background-color: #9fcba1; /* ホバー時の背景色 */
  }


h1 {
  margin: 30px 10px;
  text-align: left;
 }

.body-container h3{
 
  margin-top: 50px;
  text-align: left;
  font-size: 30px;
  color:#343434;
  margin-left: 20px;
}

.image{
  height: 300px;
  width: 100%;
  @keyframes infinity-scroll-left {
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(-100%);
    }
  }
}

  .image_wrap {
    display: flex;
    overflow: hidden;
    grid-column: span 3; /* 1列分の幅を取る */
  }

  .image_list {
    display: flex;
    list-style: none;
    padding: 0
  }

  .image_list--left{
    animation :infinity-scroll-left 95s infinite linear 0.5s both;
  }

  .image_item {
    width: calc(100vw / 6);
  }

  .image_item > img{
    width: 100%;
  }

  .cat-icon{
    height: 300px;
    width: 300px;
    margin: 15px;
  }

  

p {
  text-align: center;
  font-size: 20px;
  margin: 50px auto;
 }

.search{
  text-align: center;
  margin-top: 400px;
  width: 100%;
 display: flex;
 justify-content: center;
 background-color: #f3f5f8;
 position: relative;
 height: 130px;
 }
 
.search h3{
  position: absolute;
  left: 0;
  top: 0;
  font-size: xx-large;
  margin-left: 20px;
 }

.tweet {
  display: flex;
  justify-content: space-evenly ;
  width: 90%;
  flex-wrap: wrap;

 }

.tweet_content {
  margin: 60px 20px;
  padding: 20px;
  width:30%;
  background-color:rgb(241, 243, 245);
  border-radius: 5%;
  text-align: left;
 }

.tweet::after {
  content: '';
  background-color: #f3f5f8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -7px;
  left: 7px;
  z-index: -1;
 }


.time {
  display: flex;
  justify-content: flex-end;
 }



.large {
  width: 100%;
}



.body-container {
  margin-top: 100px;
  background-image: 
    url('https://loosedrawing.com/assets/illustrations/png/716.png'), /* 2番目の画像 */
    url('https://loosedrawing.com/assets/illustrations/png/2.png'); /* 1番目の画像 */
  background-size: 150px, 150px; /* 両方の画像をカバーに設定 */
  background-repeat: no-repeat, no-repeat; /* 両方の画像を繰り返さない */
   /* 両方の画像を固定 */
  height: 40vh; 
  background-position: 30% 0%, 60% 60%;
 
}

h4{
  font-size: 20px;
  float: left;
  margin-top: 100px;
}

h5{
  font-size: 20px;
  float: right;
  margin-right: 200px;
}


 


.search-form {
  display: flex;
  align-items: center;
  
}

.search-area {
  margin-right: 10px;
}

.search-button {
  margin: 0;
}

.pagenate{
  color: #f3f5f8;
  font-size: larger;
  padding-bottom: 30px;
}
.tweet-detail{
  text-align: right;
}