.tweets-container {
    width: 50%;
    margin: 10px auto;
  }
  h1 {
    margin: 30px 10px;
    text-align: left;

  }
  h3 {
    width: 1000px;
    margin: 50px 10px;
    text-align: left;
    font-size: 30px;
  }

  p {
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
  }
  .search{
    text-align: center;
   
  }
 

  .new{
    text-align: right;
  }
  .tweet {
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    border: 2px solid #343434;
    position: relative;
  }
  .tweet::after {
    content: '';
    background-color: #e1eef5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -7px;
    left: 7px;
    z-index: -1;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  img {
    width: 1300px; /* 幅を500pxに指定 */
    height: 500px;
    margin: 150px 100px; /* 高さを自動調整 */
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   
    padding: 50px 0;
}
.gallery img {
    width: 360px;
    height: 340px;
    display: block;
    box-shadow: 0 0 5px rgba(84, 34, 34, 0.1);
}
.large {
    grid-column: span 2; /* 2列分の幅を取る */
}
.small {
    grid-column: span 3; /* 1列分の幅を取る */
}